.app {
  color: $colors__jet;
  font-family: 'Nunito', serif;
  font-size: 20px;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  opacity: 0;

  &--entering,
  &--ready {
    opacity: 1;
    visibility: visible;
  }
}
