.field {
  display: block;
  &__group {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 600;
  }
  &__fields {
    display: block;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    > *:not(:first-child) {
      margin-top: 1rem;
    }
  }
  &__label {
    display: block;
    font-size: 18px;
    margin-bottom: .5rem;
  }
  &__input {
    display: block;
    background-color: $colors__white;
    box-sizing: border-box;
    border: solid 1px #aaa;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 18px;
    box-shadow: 0 2px 8px rgba(#000, .15);
    &:focus {
      outline: none;
      border-color: $colors__coral;
    }
  }
    &__dropdown {
      position: relative;
      select {
        appearance: none;
        -webkit-appearance: none;
      }
      &-arrow {
        display: block;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
      }
    }
  &__radio {
    display: block;
    &:not(:first-child) {
      margin-top: .5rem;
    }
    &-group {
      margin-top: .25rem;
    }
    &-button {
      display: inline-block;
    }
    &-label {
      display: inline-block;
    }
  }
}
