html, body, .app {
  height: 100%;
  margin: 0;
  background-color: $colors__offwhite;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 1rem;
}

input[type=text],
input[type=email],
input[type=password],
select {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

input[type=password] {
  letter-spacing: 2px;
}

a {
  color: inherit;
  text-decoration:  none;
}